:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --primary-br-color: #ffffff;
  --secondary-br-color: #f5f4fa;
  --footer-br-color: #2f303a;
  --icon-color: rgba(175, 177, 184, 1);
}

/* body */

.body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .list-item + .list-item {
  margin-left: 30px;
}

/* header */

.header {
  background-color: #ffffff;
  color: var(--title-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

/* main-nav */

.main-nav {
  align-items: center;
  display: flex;
}

.main-header {
  align-items: center;
  display: flex;
}

/* logo */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header .logo {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  margin-left: 93px;
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .header-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .header-link:hover,
.site-nav .header-link:focus {
  color: var(--accent-color);
}

.site-nav .header-link.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

/* header-item */

.header-item {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-item .item + .item {
  margin-left: 30px;
}

.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover .link-icon,
.link:focus .link-icon {
  fill: var(--accent-color);
}

/* hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.overlay {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header-img-1.jpg");
  background-color: #757575;
  background-repeat: no-repeat;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* feature */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

/* Можно использовать этот вариант

.list-item :nth-child(1)::before {
    background-image: url(../images/sprite.svg);
} */

.feature .title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.feature .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work и team title */

.work {
  padding-bottom: 94px;
}

.work-item .work-list + .work-list {
  margin-left: 30px;
}

.work .title,
.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  position: relative;
}

.work-list > .label {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 82px;
  padding-left: 83px;
  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--button-color);
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-br-color);
}

/* social-icon */

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--button-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  margin-right: 10px;
}

.social-list:last-child {
  margin-right: 0;
}

.social-item {
  display: flex;
  justify-content: center;
  background-color: var(--button-color);
  padding-bottom: 30px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--button-color);
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;

  color: var(--title-text-color);
}

.icon-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-title {
  margin-right: 30px;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--accent-color);
}

.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  fill: var(--accent-color);
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .team-list + .team-list {
  margin-left: 30px;
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-item {
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--button-color);
}

.content {
  text-align: center;

  width: 270px;
  background-color: #fff;
}

.content .title {
  padding-top: 30px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.content .text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.team .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* button */

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;

  color: var(--button-color);
  background-color: var(--accent-color);
}

.button .primery {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* footer */

.footer {
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 66px;
  padding-bottom: 54px;
  background-color: var(--footer-br-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  margin-bottom: 20px;
}

.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.address {
  color: #ffffff;
  font-style: normal;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-item {
  display: flex;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.footer-title {
  color: var(--button-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-icon {
  margin-left: 70px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--button-color);
}

.container-icon {
  display: flex;
  align-items: baseline;
}

/* Бэкдроп и модальное окно */
/* В начале позиция, потом геометрия и всё остальное */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* стили для спрятанного бэкдропа */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* стили для спрятанной модалки */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--button-color);
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  display: block;
  padding: 0;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  background-color: var(--button-color);
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-modal:hover {
  border-color: none;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
}

.form {
  position: absolute;
  width: 528px;
  height: 581px;
  outline: 1px solid red;

  padding-top: 40px;
  padding-bottom: 40px;
}

.form h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-input {
  position: relative;
  margin: 0;
  padding: 0;

  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-svg {
  position: absolute;
  display: inline-block;
  transform: translate(12px, 11px);
  background-size: cover;
  fill: var(--title-text-color);
}

.placeholder {
  padding: 12px 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-item {
  justify-content: center;
  padding: 0;

  margin-bottom: 10px;
}

.form-list {
  display: block;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 41px;
  margin-right: 39px;
  padding: 0;

  list-style: none;
}

.policy {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-link {
  display: inline-block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: underline;
}

.form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--button-color);
}

.form-policy {
  display: inline-flex;
  align-items: center;
}
